/* You can add global styles to this file, and also import other style files */
{
  font-family: "Lucida Console", Monaco, monospace;
  /*-moz-user-select: none;*/
  /*-khtml-user-select: none;*/
  /*-webkit-user-select: none;*/
  /*-ms-user-select: none;*/
  user-select: none;
}

body {
  background-color: #000000;
}
